*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{
    --fonte-geral: 16px;
}

body{
    font-size: var(--fonte-geral);
}

body{

    font-family:'Nunito',sans-serif;

    min-height:100vh;

    background:
    radial-gradient(circle at top,
    #0d1f49,
    #071227 40%,
    #040913 100%);

    color:white;
}

.dashboard{

    display:grid;

    grid-template-columns:
    260px
    1fr;

    gap:20px;

    padding:20px;
}

/* SIDEBAR */

.sidebar{

    background:
    rgba(11,18,39,.85);

    backdrop-filter:blur(15px);

    border-radius:30px;

    padding:25px;

    border:1px solid rgba(255,255,255,.05);

    min-height:95vh;
}

.logo{

    text-align:center;

    margin-bottom:40px;
}

.avatar{

    font-size:60px;

    margin-bottom:15px;
}

.logo h1{

    font-size:36px;

    margin-bottom:10px;
}

.logo p{

    color:#b9c3d8;

    line-height:1.5;
}

nav{

    display:flex;

    flex-direction:column;

    gap:12px;
}

nav a{

    text-decoration:none;

    color:white;

    padding:16px;

    border-radius:18px;

    transition:.3s;
}

nav a:hover{

    background:
    rgba(255,255,255,.05);
}

.active{

    background:
    linear-gradient(
    135deg,
    #6f61ff,
    #5446ee
    );

    box-shadow:
    0 0 20px rgba(111,97,255,.35);
}

/* MAIN */

main{

    display:flex;

    flex-direction:column;

    gap:25px;
}

header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:10px;
}

header h1{

    font-size:48px;

    margin-bottom:10px;
}

header p{

    color:#c8d0e2;

    font-size:22px;
}

.top-buttons{

    display:flex;

    gap:10px;
}

.top-buttons button{

    background:
    rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    color:white;

    padding:15px 25px;

    border-radius:16px;

    cursor:pointer;
}

/* CARDS */

.cards{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(300px,1fr));

    gap:20px;
}

.card{

    min-height:220px;

    border-radius:30px;

    padding:30px;

    border:1px solid rgba(255,255,255,.05);

    backdrop-filter:blur(10px);

    transition:.3s;

    cursor:pointer;
}

.card:hover{

    transform:
    translateY(-5px);
}

.card h2{

    font-size:34px;

    margin-bottom:20px;
}

.card p{

    font-size:22px;

    line-height:1.7;
}

.purple{
    background:
    linear-gradient(
    135deg,
    #181b4d,
    #0d1232);
}

.green{
    background:
    linear-gradient(
    135deg,
    #102d28,
    #071e1b);
}

.orange{
    background:
    linear-gradient(
    135deg,
    #352313,
    #1c1309);
}

.yellow{
    background:
    linear-gradient(
    135deg,
    #383017,
    #1c1708);
}

.blue{
    background:
    linear-gradient(
    135deg,
    #10254e,
    #081427);
}

/* MESSAGE */

.message{

    display:flex;

    align-items:center;

    gap:20px;

    background:
    rgba(11,18,39,.85);

    padding:30px;

    border-radius:30px;

    border:1px solid rgba(255,255,255,.05);
}

.message-icon{

    font-size:60px;
}

.message h2{

    font-size:32px;

    margin-bottom:10px;
}

.message p{

    font-size:20px;

    color:#c8d0e2;
}

/* RESPONSIVO */

@media(max-width:1000px){

    .dashboard{

        grid-template-columns:1fr;
    }

    header{

        flex-direction:column;

        gap:20px;

        align-items:flex-start;
    }

    header h1{

        font-size:36px;
    }
}